#preview {
    width: 1280;
    height: 720;
}
#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}
#controls {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px
}
